.header li {
    list-style: none;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h2 {
    margin: 0;
}

.headerbar a {
    text-decoration: none;
    color: black;
}

.bars {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: none;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}

.dropdown .link1 {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.dropdown .link1 a {
    text-decoration: none;
    color: #000;
}

.dropdown .link1:hover {
    background-color: #f1f1f1;
}

@media (max-width: 1000px) {
    .headerbar {
        display: none;
    }

    .bars {
        display: block;
        color: #eaf6f6;
    }

    .dropdown {
        width: 100%;
    }
}