* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    /* height: 100vh; */
    background-color: #F5EBE0;
}

.header nav {
    /* position: fixed; */
    position: absolute;
    /* height: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    background-color: transparent;
    padding: 30px;
}


/* 
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */


.header h2 {
    font-size: 1.8rem;
    font-weight: 600;
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    margin-left: 20px;
    cursor: pointer;
}

.header h2:hover {
    background: #F5EBE0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#svg-path {
    position: relative;
    fill: url(#gradient);
}

@keyframes gradient {
    0% {
        stop-color: #ee7752;
    }

    25% {
        stop-color: #e73c7e;
    }

    50% {
        stop-color: #23a6d5;
    }

    75% {
        stop-color: #23d5ab;
    }

    100% {
        stop-color: #ee7752;
    }
}

#gradient stop {
    animation: gradient 8s linear infinite;
}


.header ul {
    display: flex;
    margin-left: 320px;
    text-decoration: none;
    list-style: none;

}

.header li a {
    color: #F5EBE0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    padding: 10px 45px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
}

.header li a:hover {
    color: #d66f5f;
    border-bottom: #d66f5f 1px dotted;
    /* text-decoration: underline #d66f5f; */
}

.header .home {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    font-family: "Montserrat", sans-serif;
}

.info {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 60px;
}

.info h2 {
    font-size: 2.5rem;
}


.picture {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-right: 60px;
}

.picture .hero-image-wrap {
    position: absolute;
    background: white;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin-top: -100px;
}

.hero-image {
    position: relative;
    width: 400px;
    height: 300px;
    background-size: cover;
}

.projects {
    /* height: 100vh; 2*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 3rem;
    /* color: #ee7752; */
    font-family: "Montserrat", sans-serif;
    text-decoration: underline #30e3cb;
    color: #23a6d5;
    /* background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.slope {
    background-color: #F5EBE0;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, -28000px 100%);
    width: 100%;
    border-top: 20px solid #F5EBE0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 30px; */
    margin-bottom: 12px;
}

/* .slope {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 55px 100%);
    background: rgb(46, 53, 61);
    border: 1px solid rgb(46, 53, 61);

} */

.card {
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: auto;
    height: 122px;
    object-fit: contain;

    /* height: auto; */
}


.card-content {
    padding: 16px;
}

.card-content h3 {
    height: 40px;
    font-size: 20px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.card-content span {
    color: rgb(203, 40, 40);
    font-size: 14px;
    display: flex;
    text-align: start;
    margin-left: 35px;
    font-style: italic;
}

.card-content p {
    height: 190px;
    color: #666;
    font-size: 13px;
    line-height: 1.3;
    /* margin: 6px; */
    text-align: start;
    margin-bottom: 15px;
}


.wrap {
    white-space: nowrap;
    margin-bottom: 5px;
}

.card-content .bt {
    display: inline-block;
    /* padding: 8px 16px; 4 card*/
    padding: 6px;
    background-color: #333;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 5px;
    color: #fff;
}

.arrow {
    color: #30e3cb;
    font-weight: 900;
}

.projects .card-container .card:last-child img,
.projects .card-container .card:last-child p,
.projects .card-container .card:last-child .bt {
    filter: blur(5px);
    /* Arka planı blurlu yapmak için */
}

/* .images {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20%);
    gap: 15px;
}

.image-container {
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
  background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
}

.overlay h2 {
    display: none;
}

.image-container:hover .overlay {
    background-color: papayawhip;
    border-radius: 6px;
    cursor: pointer;
}

.image-container:hover .overlay h2 {
    display: block;
    align-items: center;
    padding-top: 50px;
}

.image-container img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 6px;
} */





.skills {
    /* height: 100vh; 3*/
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    /* margin-top: 60px; */
    border-right: #11cdd4 dashed;
}




.skills img {
    width: 160px;
    height: 140px;
    object-fit: contain;
    float: inherit;
}

.skills h2 {
    color: #23a6d5;
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: -130px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.skill span {
    color: #23a6d5;
    font-size: 24px;
    margin-bottom: 20px;
}

.skill p {
    width: 40%;
    line-height: 1.5;
    font-size: 18px;
}

.contact {
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-right: 60px;
}

.contact h1 {
    color: #23a6d5;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 2.2rem;
}

.contact span {
    color: #23a6d5;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

.contact p {
    font-size: 18px;
    width: 40%;
    line-height: 1.5;
    /* color: #40515e; */
}

.btn {
    margin-top: 50px;
    background: #23a6d5;
    background-image: -webkit-linear-gradient(top, #11cdd4, #23a6d5);
    background-image: -moz-linear-gradient(top, #11cdd4, #23a6d5);
    background-image: -ms-linear-gradient(top, #11cdd4, #23a6d5);
    background-image: -o-linear-gradient(top, #11cdd4, #23a6d5);
    background-image: linear-gradient(to bottom, #11cdd4, #23a6d5);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.hr {
    width: 100%;
    height: 2px;
    border: #11cdd4 dotted;
}


/* .footer {
    height: 40vh;
    background-color: #DBA39A;
} */


footer {
    height: 30vh;
    background-color: #23a6d5;
    font-family: "Montserrat", sans-serif;
    display: flow;
    text-align: center;
    padding: 30px;
}

.footer-link {
    color: #057198;
    padding: 30px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.footer-link:hover {
    color: #eaf6f6;
}

.copyright {
    padding: 40px;
    color: #eaf6f6;
    font-size: 0.90rem;
}

/* media */

.header li {
    list-style: none;
}

.dropdown {
    flex-direction: column;
    background-color: #fff;
    /* padding: 10px 0; */
    list-style: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 1;
    margin-right: 10px;
    display: none;
}



.link1 {
    display: block;
    padding: 8px;
    /* margin: 3px 0; */
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.dropdown .link1 a {
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: monospace;
}


.dropdown .link1:hover {
    /* background-color: #f1f1f1; */
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.3);
    border-bottom: #d66f5f 1px dotted;
}


.header .link1:hover .dropdown,
.header .link1:focus-within .dropdown {
    display: block;
}

.bars {
    display: none;
}

/* under 1000 */
@media(max-width: 1200px) {
    .header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header h2 {
        margin: 0;
        font-size: 1.5rem;
        margin-top: -30px;
        font-weight: 800;
    }

    .headerbar {
        display: none;
    }

    .bars {
        display: block;
        color: #eaf6f6;
        cursor: pointer;
    }

    .dropdown {
        width: 40%;

    }

    .header li a:hover {
        border: none;
    }

    .info {
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 60px;
    }

    .info {
        width: 600px;
    }

    .picture .hero-image-wrap {
        width: 240px;
        height: 240px;
        margin-top: -65px;
    }

    .hero-image {
        width: 300px;
        height: 200px;
        background-size: cover;
    }

    .fa-bars {
        margin-top: -50px;
    }

    .about {
        margin: 10px;
        margin-left: 20px;
    }

    .skills img {
        width: 140px;
        height: 120px;
    }

    .skills h2 {
        font-size: 2rem;
    }

    .skill {
        margin: 20px;
        margin-top: -120px;
        margin-left: 90px;

    }

    .skill p {
        width: 50%;
        line-height: 1.3;
    }

    .contact {
        margin-right: 60px;
    }

    .contact h1 {
        margin-top: 30px;
        font-size: 2rem;
    }

    .contact span {
        font-weight: 600;
        font-size: 1rem;
    }

    .contact p {
        font-size: 15px;
        width: 50%;
        line-height: 1.3;
        color: #40515e;
    }

    .btn {
        margin: 10px;
        margin-top: 50px;
    }

}


/* under 700 */
@media(max-width: 700px) {
    .header h2 {
        margin-right: 15px;
        margin-top: -50px;
        font-size: 1.3rem;
    }

    .header ul {
        margin-left: 20px;
    }

    .fa-bars {
        margin-right: 20px;
    }

    .info {
        width: 600px;
        height: 250px;
        margin-top: 60px;
        display: flex;
        text-align: center;
    }

    .info h2 {
        font-size: 1.7rem;
    }

    .info p {
        font-size: 16px;
    }

    .picture .hero-image-wrap {
        width: 215px;
        height: 215px;
        margin-right: 20px;
        margin-top: 18px;
    }

    .hero-image {
        width: 250px;
        height: 180px;
        background-size: cover;
        margin-top: 50px;
    }

    /*  */
    .card {
        width: 150px;
    }

    .card img {
        width: auto;
        height: 90px;
        object-fit: contain;
    }

    .card-content h3 {
        height: 30px;
        font-size: 15px;
    }

    .card-content p {
        height: 195px;
        font-size: 12px;
        line-height: 1.1;
    }

    .card-content .bt {
        font-size: 10px;
    }

    /* contact */

    .skills img {
        width: 100px;
        height: 90px;
        margin-left: -20px;
    }

    .skills h2 {
        font-size: 1.4rem;
    }

    .skill {
        margin: 30px;
        margin-top: -100px;
        margin-left: 70px;
    }

    .skill span {
        font-size: 20px;
        margin-left: 20px;
    }

    .skill p {
        width: 65%;
        line-height: 1.2;
    }

    .contact h1 {
        /* margin-top: 10px; */
        font-size: 1.4rem;
    }

    .contact span {
        font-weight: 600;
        font-size: 16px;
    }

    .contact p {
        font-size: 15px;
        width: 50%;
        line-height: 1.2;
    }

    .btn {
        white-space: nowrap;
        margin: 10px;
        margin-top: 50px;
        font-size: 15px;
    }
}